<html>
<head>
	<link rel="Stylesheet" type="text/css" href="../../aboutdata/StyleSheet.css" />
    <link rel="Stylesheet" type="text/css" href="../../aboutdata/GridviewStyles.css" />
	
	<style>
		.mainDiv{
			width: auto;
			max-height:360px;
		}
		.TagDiv{
			width: auto;
		}
		.TagDiv a{
			color : #FFF;
		}
		.GridViewDiv{
			width: 200px;
		}
		.GridViewAlternatingRowStyle td:hover , .GridViewRowStyle td:hover{
			background-color : #0000FF;
			color : #ffffff;
			text-align : center;
		}
	</style>
</head>
<body>
<a name="top"></a>
    <center>
	<h1>CATEGORIZE</h1>
    <div class="backto"><a onclick="toTop();">&nbsp;</a></div>
        <div class="mainDiv" id="mainDiv">
        <br />
        <div class="TagDiv">
            <a href="#a">A</a>
            <a href="#b">B</a>
            <a href="#c">C</a>
            <a href="#d">D</a>
            <a href="#e">E</a>
            <a href="#f">F</a>
            <a href="#g">G</a>
            <a href="#h">H</a>
            <a href="#i">I</a>
            <a href="#j">J</a>
            <a href="#k">K</a>
            <a href="#l">L</a>
		</div>
        <div class="TagDiv">
            <a href="#m">M</a>
            <a href="#n">N</a>
            <a href="#o">O</a>
            <a href="#p">P</a>
            <a href="#q">Q</a>
            <a href="#r">R</a>
            <a href="#s">S</a>
            <a href="#t">T</a>
            <a href="#u">U</a>
            <a href="#v">V</a>
            <a href="#y">Y</a>
            <a href="#z">Z</a>
        </div>
		<br/>
        <div class="TagDiv">
            <a href="#asia">ASIA</a>
            <a href="#africa">AFRICA</a>
            <a href="#europe">EUROPE</a>
		</div>
        <div class="TagDiv">
            <a href="#namerica">NORTH AMERICA</a>
            <a href="#samerica">SOUTH AMERICA</a>
		</div>
        <div class="TagDiv">
            <a href="#oceania">OCEANIA</a>
        </div>
    <div class="GridViewDiv">
	<!--A-->
	<p class="LitterP"><a name="a">A</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">NAME</th><th scope="col">ISO</th><th scope="col">CONTINENT</th>		</tr>
		<tr class="GridViewAlternatingRowStyle"><td>﻿Afghanistan</td><td>AF</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>Albania</td><td>AL</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Algeria</td><td>DZ</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Andorra</td><td>AD</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Angola</td><td>AO</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Anguilla</td><td>AI</td><td>North America</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Antarctica</td><td>AQ</td><td>Antarctica</td></tr>
		<tr class="GridViewRowStyle"><td>Antigua and Barbuda</td><td>AG</td><td>North America</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Argentina</td><td>AR</td><td>South America</td></tr>
		<tr class="GridViewRowStyle"><td>Armenia</td><td>AM</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Aruba</td><td>AW</td><td>South America</td></tr>
		<tr class="GridViewRowStyle"><td>Australia</td><td>AU</td><td>Australia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Austria</td><td>AT</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Azerbaijan</td><td>AZ</td><td>Asia</td></tr>
	</table>
	
	<!--B-->
	<p class="LitterP"><a name="b">B</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle"><td>Bahamas</td><td>BS</td><td>North America</td></tr>
		<tr class="GridViewRowStyle"><td>Bahrain</td><td>BH</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Bangladesh</td><td>BD</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>Barbados</td><td>BB</td><td>North America</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Belarus</td><td>BY</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Belgium</td><td>BE</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Belize</td><td>BZ</td><td>North America</td></tr>
		<tr class="GridViewRowStyle"><td>Benin</td><td>BJ</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Bermuda</td><td>BM</td><td>North America</td></tr>
		<tr class="GridViewRowStyle"><td>Bhutan</td><td>BT</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Bolivia</td><td>BO</td><td>South America</td></tr>
		<tr class="GridViewRowStyle"><td>Bosnia and Herzegovina</td><td>BA</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Botswana</td><td>BW</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Bouvet Island</td><td>BV</td><td>Antarctica</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Brazil</td><td>BR</td><td>South America</td></tr>
		<tr class="GridViewRowStyle"><td>British Indian Ocean Territory</td><td>IO</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>British Virgin Islands</td><td>VG</td><td>North America</td></tr>
		<tr class="GridViewRowStyle"><td>Brunei Darussalam</td><td>BN</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Bulgaria</td><td>BG</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Burkina Faso</td><td>BF</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Burundi</td><td>BI</td><td>Africa</td></tr>
	</table>
	<!--C-->
	<p class="LitterP"><a name="c">C</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewRowStyle"><td>Cambodia</td><td>KH</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Cameroon</td><td>CM</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Canada</td><td>CA</td><td>North America</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Cape Verde</td><td>CV</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Cayman Islands</td><td>KY</td><td>North America</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Central African Republic</td><td>CF</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Chad</td><td>TD</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Chile</td><td>CL</td><td>South America</td></tr>
		<tr class="GridViewRowStyle"><td>China</td><td>CN</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Christmas Island</td><td>CX</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>Cocos Islands</td><td>CC</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Colombia</td><td>CO</td><td>South America</td></tr>
		<tr class="GridViewRowStyle"><td>Comoros</td><td>KM</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Congo</td><td>CG</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Cook Islands</td><td>CK</td><td>Oceania</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Costa Rica</td><td>CR</td><td>North America</td></tr>
		<tr class="GridViewRowStyle"><td>Cote d'Ivoire</td><td>CI</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Croatia</td><td>HR</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Cuba</td><td>CU</td><td>North America</tr>
		<tr class="GridViewAlternatingRowStyle"><td>Curacao</td><td>CW</td><td>South America</td></tr>
		<tr class="GridViewRowStyle"><td>Cyprus</td><td>CY</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Czech Republic</td><td>CZ</td><td>Europe</td></tr>
	</table>
	<!--D-->
	<p class="LitterP"><a name="d">D</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewRowStyle"><td>Democratic Republic of the Congo</td><td>CD</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Denmark</td><td>DK</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Djibouti</td><td>DJ</td><td>Africa</tr>
		<tr class="GridViewAlternatingRowStyle"><td>Dominica</td><td>DM</td><td>North America</td></tr>
		<tr class="GridViewRowStyle"><td>Dominican Republic</td><td>DO</td><td>North America</td></tr>
	</table>
	<!--E-->
	<p class="LitterP"><a name="e">E</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewAlternatingRowStyle"><td>Ecuador</td><td>EC</td><td>South America</td></tr>
		<tr class="GridViewRowStyle"><td>Egypt</td><td>EG</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>El Salvador</td><td>SV</td><td>North America</td></tr>
		<tr class="GridViewRowStyle"><td>Equatorial Guinea</td><td>GQ</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Eritrea</td><td>ER</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Estonia</td><td>EE</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Ethiopia</td><td>ET</td><td>Africa</td></tr>
	</table>
	<!--F-->
	<p class="LitterP"><a name="f">F</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>	</tr>
		<tr class="GridViewRowStyle"><td>Falkland Islands</td><td>FK</td><td>South America</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Faroe Islands</td><td>FO</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Fiji</td><td>FJ</td><td>Oceania</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Finland</td><td>FI</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>France</td><td>FR</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>French Southern Territories</td><td>TF</td><td>Africa</td></tr>
	</table>
	<!--G-->
	<p class="LitterP"><a name="g">G</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewRowStyle"><td>Gabon</td><td>GA</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Gambia</td><td>GM</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Georgia</td><td>GE</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Germany</td><td>DE</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Ghana</td><td>GH</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Gibraltar</td><td>GI</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Greece</td><td>GR</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Greenland</td><td>GL</td><td>North America</td></tr>
		<tr class="GridViewRowStyle"><td>Grenada</td><td>GD</td><td>North America</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Guatemala</td><td>GT</td><td>North America</td></tr>
		<tr class="GridViewRowStyle"><td>Guernsey</td><td>GG</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Guinea</td><td>GN</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Guinea-Bissau</td><td>GW</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Guyana</td><td>GY</td><td>South America</td></tr>
	</table>
	<!--H-->		
	<p class="LitterP"><a name="h">H</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewRowStyle"><td>Haiti</td><td>HT</td><td>North America</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Heard Island and McDonald Islands</td><td>HM</td><td>Antarctica</td></tr>		
		<tr class="GridViewRowStyle"><td>Holy See</td><td>VA</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Honduras</td><td>HN</td><td>North America</td></tr>
		<tr class="GridViewRowStyle"><td>Hungary</td><td>HU</td><td>Europe</td></tr>
	</table>
	<!--I-->
	<p class="LitterP"><a name="i">I</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewAlternatingRowStyle"><td>Iceland</td><td>IS</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>India</td><td>IN</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Indonesia</td><td>ID</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>Iran</td><td>IR</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Iraq</td><td>IQ</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>Ireland</td><td>IE</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Isle of Man</td><td>IM</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Israel</td><td>IL</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Italy</td><td>IT</td><td>Europe</td></tr>
	</table>
	<!--J-->
	<p class="LitterP"><a name="j">J</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewRowStyle"><td>Jamaica</td><td>JM</td><td>North America</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Japan</td><td>JP</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>Jersey</td><td>JE</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Jordan</td><td>JO</td><td>Asia</td></tr>
	</table>
	<!--K-->
	<p class="LitterP"><a name="k">K</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>	</tr>
		<tr class="GridViewRowStyle"><td>Kazakhstan</td><td>KZ</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Kenya</td><td>KE</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Kiribati</td><td>KI</td><td>Oceania</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Kuwait</td><td>KW</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>Kyrgyzstan</td><td>KG</td><td>Asia</td></tr>
	</table>
	<!--L-->
	<p class="LitterP"><a name="l">L</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>	</tr>
		<tr class="GridViewAlternatingRowStyle"><td>Laos</td><td>LA</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>Latvia</td><td>LV</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Lebanon</td><td>LB</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Lesotho</td><td>LS</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Liberia</td><td>LR</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Libya</td><td>LY</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Liechtenstein</td><td>LI</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Lithuania</td><td>LT</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Luxembourg</td><td>LU</td><td>Europe</td></tr>
		</table>
	<!--M-->
	<p class="LitterP"><a name="m">M</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewAlternatingRowStyle"><td>Madagascar</td><td>MG</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Malawi</td><td>MW</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Malaysia</td><td>MY</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>Maldives</td><td>MV</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Mali</td><td>ML</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Malta</td><td>MT</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Marshall Islands</td><td>MH</td><td>Oceania</td></tr>
		<tr class="GridViewRowStyle"><td>Mauritania</td><td>MR</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Mauritius</td><td>MU</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Mexico</td><td>MX</td><td>North America</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Micronesia</td><td>FM</td><td>Oceania</td></tr>
		<tr class="GridViewRowStyle"><td>Moldova</td><td>MD</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Monaco</td><td>MC</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Mongolia</td><td>MN</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Montenegro</td><td>ME</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Montserrat</td><td>MS</td><td>North America</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Morocco</td><td>MA</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Mozambique</td><td>MZ</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Myanmar</td><td>MM</td><td>Asia</td></tr>
	</table>
	<!--N-->
	<p class="LitterP"><a name="n">N</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewRowStyle"><td>Namibia</td><td>NA</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Nauru</td><td>NR</td><td>Oceania</td></tr>
		<tr class="GridViewRowStyle"><td>Nepal</td><td>NP</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Netherlands</td><td>NL</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>New Zealand</td><td>NU</td><td>Oceania</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Nicaragua</td><td>NI</td><td>North America</td></tr>
		<tr class="GridViewRowStyle"><td>Niger</td><td>NE</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Nigeria</td><td>NG</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Norfolk Island</td><td>NF</td><td>Oceania</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>North Korea</td><td>KP</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>Norway</td><td>NO</td><td>Europe</td></tr>
	</table>
	<!--O-->
	<p class="LitterP"><a name="o">O</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewAlternatingRowStyle"><td>Oman</td><td>OM</td><td>Asia</tr>
	</table>
	<!--P-->
	<p class="LitterP"><a name="p">P</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewRowStyle"><td>Pakistan</td><td>PK</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Palau</td><td>PW</td><td>Oceania</td></tr>
		<tr class="GridViewRowStyle"><td>Palestinian Territory</td><td>PS</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Panama</td><td>PA</td><td>North America</td></tr>
		<tr class="GridViewRowStyle"><td>Papua New Guinea</td><td>PG</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Paraguay</td><td>PY</td><td>South America</td></tr>
		<tr class="GridViewRowStyle"><td>Peru</td><td>PE</td><td>South America</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Philippines</td><td>PH</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>Pitcairn</td><td>PN</td><td>Oceania</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Poland</td><td>PL</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Portugal</td><td>PT</td><td>Africa</td></tr>
	</table>
	<!--Q-->
	<p class="LitterP"><a name="q">Q</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewAlternatingRowStyle"><td>Qatar</td><td>QA</td><td>Asia</td></tr>
	</table>
	<!--R-->
	<p class="LitterP"><a name="r">R</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewRowStyle"><td>R&#233;union</td><td>RE</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Romania</td><td>RO</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Russian Federation</td><td>RU</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Rwanda</td><td>RW</td><td>Africa</td></tr>
	</table>
	<!--S-->
	<p class="LitterP"><a name="s">S</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewRowStyle"><td>Saint Helena</td><td>SH</td><td>Africa</tr>
		<tr class="GridViewAlternatingRowStyle"><td>Saint Kitts and Nevis</td><td>KN</td><td>North America</tr>
		<tr class="GridViewRowStyle"><td>Saint Lucia</td><td>LC</td><td>North America</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Saint Vincent and the Grenadines</td><td>VC</td><td>North America</td></tr>
		<tr class="GridViewRowStyle"><td>Samoa</td><td>WS</td><td>Oceania</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>San Marino</td><td>SM</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Sao Tome and Principe</td><td>ST</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Saudi Arabia</td><td>SA</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>Senegal</td><td>SN</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Serbia</td><td>RS</td><td>Europe</tr>
		<tr class="GridViewRowStyle"><td>Seychelles</td><td>SC</td><td>Africa</tr>
		<tr class="GridViewAlternatingRowStyle"><td>Sierra Leone</td><td>SL</td><td>Africa</tr>
		<tr class="GridViewRowStyle"><td>Singapore</td><td>SG</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Sint Maarten</td><td>SX</td><td>North America</tr>
		<tr class="GridViewRowStyle"><td>Slovakia</td><td>SK</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Solomon Islands</td><td>SB</td><td>Oceania</td></tr>
		<tr class="GridViewRowStyle"><td>Somalia</td><td>SO</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>South Africa</td><td>ZA</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>South Georgia</td><td>GS</td><td>Antarctica</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>South Korea</td><td>KR</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>South Sudan</td><td>SS</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Spain</td><td>ES</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Sri Lanka</td><td>LK</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Sudan</td><td>SD</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Suriname</td><td>SR</td><td>South America</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Swaziland</td><td>SZ</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Sweden</td><td>SE</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Switzerland</td><td>CH</td><td>Europe</td></tr>
		<tr class="GridViewRowStyle"><td>Syria</td><td>SY</td><td>Asia</td></tr>
	</table>
	<!--T-->
	<p class="LitterP"><a name="t">T</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewAlternatingRowStyle"><td>Tajikistan</td><td>TJ</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>Tanzania</td><td>TZ</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Thailand</td><td>TH</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>The Former Yugoslav Republic of Macedonia</td><td>MK</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Timor-Leste</td><td>TL</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>Togo</td><td>TG</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Tokelau</td><td>TK</td><td>Oceania</td></tr>
		<tr class="GridViewRowStyle"><td>Tonga</td><td>TO</td><td>Oceania</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Trinidad and Tobago</td><td>TT</td><td>North America</td></tr>
		<tr class="GridViewRowStyle"><td>Tunisia</td><td>TN</td><td>Africa</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Turkey</td><td>TR</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>Turkmenistan</td><td>TM</td><td>Asia</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Turks and Caicos Islands</td><td>TC</td><td>North America</td></tr>
		<tr class="GridViewRowStyle"><td>Tuvalu</td><td>TV</td><td>Oceania</td></tr>
	</table>
	<!--U-->
	<p class="LitterP"><a name="u">U</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewAlternatingRowStyle"><td>Uganda</td><td>UG</td><td>Africa</tr>
		<tr class="GridViewRowStyle"><td>Ukraine</td><td>UA</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>United Arab Emirates</td><td>AE</td><td>Asia</td></tr>
		<tr class="GridViewRowStyle"><td>United Kingdom</td><td>GB</td><td>Europe</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>United States</td><td>US</td><td>North America</td></tr>
		<tr class="GridViewRowStyle"><td>United States Minor Outlying Islands</td><td>UM</td><td>North America</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Uruguay</td><td>UY</td><td>South America</td></tr>
		<tr class="GridViewRowStyle"><td>Uzbekistan</td><td>UZ</td><td>Asia</td></tr>
	</table>
	<!--V-->
	<p class="LitterP"><a name="v">V</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle"><td>Vanuatu</td><td>VU</td><td>Oceania</td></tr>
		<tr class="GridViewRowStyle"><td>Venezuela</td><td>VE</td><td>South America</td></tr>
		<tr class="GridViewAlternatingRowStyle"><td>Vietnam</td><td>VN</td><td>Asia</td></tr>
	</table>
	<!--Y-->
	<p class="LitterP"><a name="y">Y</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewRowStyle"><td>Yemen</td><td>YE</td><td>Asia</td></tr>
	</table>
	<!--Z-->
	<p class="LitterP"><a name="z">Z</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>		</tr>
		<tr class="GridViewAlternatingRowStyle"><td>Zambia</td><td>ZM</td><td>Africa</td></tr>
		<tr class="GridViewRowStyle"><td>Zimbabwe</td><td>ZW</td><td>Africa</td></tr>
	</table>
	
	<!--ASIA-->
	<p class="LitterP"><a name="asia">ASIA</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle"><td>﻿Afghanistan</td><td>AF</td><td>Asia</td></tr>
	</table>
	<!--AFRICA-->
	<p class="LitterP"><a name="africa">AFRICA</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle"><td>﻿Afghanistan</td><td>AF</td><td>Asia</td></tr>
	</table>
	<!--EUROPE-->
	<p class="LitterP"><a name="europe">EUROPE</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle"><td>﻿Afghanistan</td><td>AF</td><td>Asia</td></tr>
	</table>
	<!--NORTH AMERICA-->
	<p class="LitterP"><a name="namerica">NORTH AMERICA</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle"><td>﻿Afghanistan</td><td>AF</td><td>Asia</td></tr>
	</table>
	<!--SOUTH AMERICA-->
	<p class="LitterP"><a name="samerica">SOUTH AMERICA</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle"><td>﻿Afghanistan</td><td>AF</td><td>Asia</td></tr>
	</table>
	<!--OCEANIA-->
	<p class="LitterP"><a name="oceania">OCEANIA</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;margin-left:-50%;" width="390px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属大洲</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle"><td>﻿Afghanistan</td><td>AF</td><td>Asia</td></tr>
	</table>
	
    </div>
	</center>
</body>
    <!--SCROLLBAR UI-->
	<script type="text/javascript" src="../../js/jquery.nicescroll.js"></script>
	<script>
		function toTop(){
			$('#mainDiv').scrollTo(0);
		}
		$(window).ready(
			function(){
				$(".mainDiv").niceScroll({cursorcolor:"#00F",cursoropacitymax:"0.5",cursorwidth :"2px"});
			}
		);
	</script>
</html>
