<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>
	CIA
</title>
<link rel="Stylesheet" type="text/css" href="StyleSheet.css" />
    <link rel="Stylesheet" type="text/css" href="GridviewStyles.css" />
    </head>
<body>
    <a name="top"></a>
    <div class="backto"><a href="#top" onclick="window.scrollTo(0,0);return false;">&nbsp;</a></div>
        <div class="LinkDiv">
            <table class="LinkTable">
                <tr>
                    <td><a href="WikiGlobe.html">WikiGlobe</a></td>
                    <td><span>|</span></td>
                    <td bgcolor="#66CCFF"><a href="CIA.htm">CIA</a></td>
                    <td><span>|</span></td>
                    <td><a href="EsriCountries.htm">Esri</a></td>
                    <td><span>|</span></td>
                    <td><a href="UN.html">UN</a></td>
                    <td><span>|</span></td>
                    <td><a href="Diplomatic.html">MOFA</a></td>
                </tr>
            </table>
        </div>
        <div style="border-bottom: 3px solid #DCE6EC;">
        <div style="border-bottom: 1px solid #C4D5E0;">
        <div class="TitleDiv">
            <div style="position: relative; float: left;">
                <p>CIA</p>
                <p>CIA - The World Factbook</p>
            </div>
            <img src="Image/LogoCIA.jpg" alt="Logo" style="position: relative; float: right;" />
            <div class="clear"></div>
        </div>
        </div>
        </div>
        <div class="InfoDiv">
            <div style="width: 1024px; margin: 0 auto;">
                <p>《世界概况》（英语：The World Factbook，又译作世界各国纪实年鉴）是由美国中央情报局（CIA）出版的调查报告，发布世界各国及地区的概况，
                    例如人口、地理、政治及经济等各方面的统计数据。因中央情报局属美国政府部门，所以其资料格式、体例、内容皆需符合美国政府的官方需要及立场
                    ，资料则是由美国国务院、美国人口调查局、国防部等部门及其辖下的相关单位提供。如同其他美国联邦政府作品一样，本报告内容均属公有领域资源。</p>
                <p>一共列出268个国家与地区。</p>
                <p>The World Factbook is prepared by the CIA for the use of U.S. government officials, and its style, format, coverage, and content are primarily designed to meet their requirements. 
                However, it is frequently used as a resource for academic research papers. As a work of the U.S. government, it is in the public domain in the United States.</p>
                <p>In Total: 268 entities</p>
            </div>
        </div>
        <div class="mainDiv">
        <div style="width: 630px; margin: 0 auto; font-family: 微软雅黑; font-size: 14px;">
            <table style="text-align: center;">
                <tr>
                    <td><img src="World_Map/africa.jpg" alt="Africa" /></td>
                    <td><div style="width: 10px;"></div></td>
                    <td><img src="World_Map/central_america.jpg" alt="Central America" /></td>
                    <td><div style="width: 10px;"></div></td>
                    <td><img src="World_Map/central_asia.jpg" alt="Central Asia" /></td>
                    <td><div style="width: 10px;"></div></td>
                    <td><img src="World_Map/east_asia.jpg" alt="East Asia" /></td>
                    <td><div style="width: 10px;"></div></td>
                    <td><img src="World_Map/europe.jpg" alt="Europe" /></td>
                </tr>
                <tr>
                    <td>Africa:<strong>57</strong></td>
                    <td><div style="width: 10px;"></div></td>
                    <td>Central America:<strong>33</strong></td>
                    <td><div style="width: 10px;"></div></td>
                    <td>Central Asia:<strong>6</strong></td>
                    <td><div style="width: 10px;"></div></td>
                    <td>East Asia:<strong>22</strong></td>
                    <td><div style="width: 10px;"></div></td>
                    <td>Europe:<strong>55</strong></td>
                </tr>
                <tr>
                    <td><img src="World_Map/middle_east.jpg" alt="Middle East" /></td>
                    <td><div style="width: 10px;"></div></td>
                    <td><img src="World_Map/north_america.jpg" alt="North America" /></td>
                    <td><div style="width: 10px;"></div></td>
                    <td><img src="World_Map/oceania.jpg" alt="Oceania" /></td>
                    <td><div style="width: 10px;"></div></td>
                    <td><img src="World_Map/south_america.jpg" alt="South America" /></td>
                    <td><div style="width: 10px;"></div></td>
                    <td><img src="World_Map/south_asia.jpg" alt="South Asia" /></td>
                </tr>
                <tr>
                    <td>Middle East:<strong>19</strong></td>
                    <td><div style="width: 10px;"></div></td>
                    <td>North America:<strong>7</strong></td>
                    <td><div style="width: 10px;"></div></td>
                    <td>Oceania:<strong>37</strong></td>
                    <td><div style="width: 10px;"></div></td>
                    <td>South America:<strong>15</strong></td>
                    <td><div style="width: 10px;"></div></td>
                    <td>South Asia:<strong>9</strong></td>
                </tr>
            </table>
        </div>
        <div style="font-family: Arial,Helvetica,sans-serif; font-size: 12px; color: #666; width: 230px; margin: 0 auto;">
            <p>*注：上表未列出&nbsp;Antarctica:<strong>4</strong>&nbsp;及&nbsp;Other:<strong>4</strong>&nbsp;。</p>
        </div>
        <br />
        <!--<ul>
            <li>Africa:<strong>57</strong>;</li>
            <li>Antarctica:<strong>4</strong>;</li>
            <li>Central America:<strong>33</strong>;</li>
            <li>Central Asia:<strong>6</strong>;</li>
            <li>East Asia:<strong>22</strong>;</li>
            <li>Europe:<strong>55</strong>;</li>
            <li>Middle East:<strong>19</strong>;</li>
            <li>North America:<strong>7</strong>;</li>
            <li>Oceania:<strong>37</strong>;</li>
            <li>South America:<strong>15</strong>;</li>
            <li>South Asia:<strong>9</strong>;</li>
            <li>Other:<strong>4</strong>.</li>
        </ul>-->
        <div class="TagDiv">
            <a href="#a">A</a>
            <a href="#b">B</a>
            <a href="#c">C</a>
            <a href="#d">D</a>
            <a href="#e">E</a>
            <a href="#f">F</a>
            <a href="#g">G</a>
            <a href="#h">H</a>
            <a href="#i">I</a>
            <a href="#j">J</a>
            <a href="#k">K</a>
            <a href="#l">L</a>
            <a href="#m">M</a>
            <a href="#n">N</a>
            <a href="#o">O</a>
            <a href="#p">P</a>
            <a href="#q">Q</a>
            <a href="#r">R</a>
            <a href="#s">S</a>
            <a href="#t">T</a>
            <a href="#u">U</a>
            <a href="#v">V</a>
            <a href="#y">Y</a>
            <a href="#z">Z</a>
        </div>
        <div class="GridViewDiv" style="width: 850px;">
        <div style="float:left; margin-right:20px;">
        <div>
        <!--A-->
		<p class="LitterP"><a name="a">A</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr><tr class="GridViewRowStyle">
			<td>Afghanistan</td><td>AF</td><td>South Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Akrotiri</td><td>AX</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Albania</td><td>AL</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Algeria</td><td>AG</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>American Samoa</td><td>AQ</td><td>Oceania</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Andorra</td><td>AN</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Angola</td><td>AO</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Anguilla</td><td>AV</td><td>Central America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Antarctica</td><td>AY</td><td>Antarctica</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Antigua and Barbuda</td><td>AC</td><td>Central America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Argentina</td><td>AR</td><td>South America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Armenia</td><td>AM</td><td>Middle East</td>
		</tr><tr class="GridViewRowStyle">
			<td>Aruba</td><td>AA</td><td>Central America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Ashmore and Cartier Islands</td><td>AT</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Australia</td><td>AS</td><td>Oceania</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Austria</td><td>AU</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Azerbaijan</td><td>AJ</td><td>Middle East</td>
		</tr>
		</table>
		<!--B-->
		<p class="LitterP"><a name="b">B</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle">
			<td>Bahamas, The</td><td>BF</td><td>Central America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Bahrain</td><td>BA</td><td>Middle East</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Baker Island</td><td>FQ</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Bangladesh</td><td>BG</td><td>South Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Barbados</td><td>BB</td><td>Central America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Belarus</td><td>BO</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Belgium</td><td>BE</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Belize</td><td>BH</td><td>Central America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Benin</td><td>BN</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Bermuda</td><td>BD</td><td>North America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Bhutan</td><td>BT</td><td>South Asia</td>
		</tr><tr class="GridViewRowStyle">
			<td>Bolivia</td><td>BL</td><td>South America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Bosnia and Herzegovina</td><td>BK</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Botswana</td><td>BC</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Bouvet Island</td><td>BV</td><td>Antarctica</td>
		</tr><tr class="GridViewRowStyle">
			<td>Brazil</td><td>BR</td><td>South America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>British Indian Ocean Territory</td><td>IO</td><td>South Asia</td>
		</tr><tr class="GridViewRowStyle">
			<td>British Virgin Islands</td><td>VI</td><td>Central America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Brunei</td><td>BX</td><td>East Asia</td>
		</tr><tr class="GridViewRowStyle">
			<td>Bulgaria</td><td>BU</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Burkina Faso</td><td>UV</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Burma</td><td>BM</td><td>East Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Burundi</td><td>BY</td><td>Africa</td>
		</tr>
		</table>
		<!--C-->
		<p class="LitterP"><a name="c">C</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewRowStyle">
			<td>Cambodia</td><td>CB</td><td>East Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Cameroon</td><td>CM</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Canada</td><td>CA</td><td>North America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Cape Verde</td><td>CV</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Cayman Islands</td><td>CJ</td><td>Central America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Central African Republic</td><td>CT</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Chad</td><td>CD</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Chile</td><td>CI</td><td>South America</td>
		</tr><tr class="GridViewRowStyle">
			<td>China</td><td>CH</td><td>East Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Christmas Island</td><td>KT</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Clipperton Island</td><td>IP</td><td>North America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Cocos (Keeling) Islands</td><td>CK</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Colombia</td><td>CO</td><td>South America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Comoros</td><td>CN</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Congo, Democratic Republic of the</td><td>CG</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Congo, Republic of the</td><td>CF</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Cook Islands</td><td>CW</td><td>Oceania</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Coral Sea Islands</td><td>CR</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Costa Rica</td><td>CS</td><td>Central America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Cote d'Ivoire</td><td>IV</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Croatia</td><td>HR</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Cuba</td><td>CU</td><td>Central America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Curacao</td><td>CC</td><td>Central America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Cyprus</td><td>CY</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Czech Republic</td><td>EZ</td><td>Europe</td>
		</tr>
		</table>
		<!--D-->
		<p class="LitterP"><a name="d">D</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle">
			<td>Denmark</td><td>DA</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Dhekelia</td><td>DX</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Djibouti</td><td>DJ</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Dominica</td><td>DO</td><td>Central America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Dominican Republic</td><td>DR</td><td>Central America</td>
		</tr>
		</table>
		<!--E-->
		<p class="LitterP"><a name="e">E</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewRowStyle">
			<td>Ecuador</td><td>EC</td><td>South America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Egypt</td><td>EG</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>El Salvador</td><td>ES</td><td>Central America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Equatorial Guinea</td><td>EK</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Eritrea</td><td>ER</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Estonia</td><td>EN</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Ethiopia</td><td>ET</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>European Union</td><td>EE</td><td>Europe</td>
		</tr>
		</table>
		<!--F-->
		<p class="LitterP"><a name="f">F</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewRowStyle">
			<td>Falkland Islands (Islas Malvinas)</td><td>FK</td><td>South America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Faroe Islands</td><td>FO</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Fiji</td><td>FJ</td><td>Oceania</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Finland</td><td>FI</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>France</td><td>FR</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>French Guiana (France)</td><td>FG</td><td>South America</td>
		</tr><tr class="GridViewRowStyle">
			<td>French Polynesia</td><td>FP</td><td>Oceania</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>French Southern and Antarctic Lands</td><td>FS</td><td>Antarctica</td>
		</tr>
		</table>
		<!--G-->
		<p class="LitterP"><a name="g">G</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewRowStyle">
			<td>Gabon</td><td>GB</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Gambia, The</td><td>GA</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Gaza Strip</td><td>GZ</td><td>Middle East</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Georgia</td><td>GG</td><td>Middle East</td>
		</tr><tr class="GridViewRowStyle">
			<td>Germany</td><td>GM</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Ghana</td><td>GH</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Gibraltar</td><td>GI</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Greece</td><td>GR</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Greenland</td><td>GL</td><td>North America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Grenada</td><td>GJ</td><td>Central America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Guam</td><td>GQ</td><td>Oceania</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Guatemala</td><td>GT</td><td>Central America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Guernsey</td><td>GK</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Guinea</td><td>GV</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Guinea-Bissau</td><td>PU</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Guyana</td><td>GY</td><td>South America</td>
		</tr>
		</table>
		<!--H-->
		<p class="LitterP"><a name="h">H</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewRowStyle">
			<td>Haiti</td><td>HA</td><td>Central America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Heard Island and McDonald Is</td><td>HM</td><td>Antarctica</td>
		</tr><tr class="GridViewRowStyle">
			<td>Holy See (Vatican City)</td><td>VT</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Honduras</td><td>HO</td><td>Central America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Hong Kong</td><td>HK</td><td>East Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Howland Island</td><td>HQ</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Hungary</td><td>HU</td><td>Europe</td>
		</tr>
		</table>
		<!--I-->
		<p class="LitterP"><a name="i">I</a></p> 
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle">
			<td>Iceland</td><td>IC</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>India</td><td>IN</td><td>South Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Indonesia</td><td>ID</td><td>East Asia</td>
		</tr><tr class="GridViewRowStyle">
			<td>Iran</td><td>IR</td><td>Middle East</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Iraq</td><td>IZ</td><td>Middle East</td>
		</tr><tr class="GridViewRowStyle">
			<td>Ireland</td><td>EI</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Isle of Man</td><td>IM</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Israel</td><td>IS</td><td>Middle East</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Italy</td><td>IT</td><td>Europe</td>
		</tr>
		</table>
		<!--J-->
		<p class="LitterP"><a name="j">J</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewRowStyle">
			<td>Jamaica</td><td>JM</td><td>Central America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Jan Mayen</td><td>JN</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Japan</td><td>JA</td><td>East Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Jarvis Island</td><td>DQ</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Jersey</td><td>JE</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Johnston Atoll</td><td>JQ</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Jordan</td><td>JO</td><td>Middle East</td>
		</tr>
		</table>
		<!--K-->
		<p class="LitterP"><a name="k">K</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle">
			<td>Kazakhstan</td><td>KZ</td><td>Central Asia</td>
		</tr><tr class="GridViewRowStyle">
			<td>Kenya</td><td>KE</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Kingman Reef</td><td>KQ</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Kiribati</td><td>KR</td><td>Oceania</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Korea, North</td><td>KN</td><td>East Asia</td>
		</tr><tr class="GridViewRowStyle">
			<td>Korea, South</td><td>KS</td><td>East Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Kosovo</td><td>KV</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Kuwait</td><td>KU</td><td>Middle East</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Kyrgyzstan</td><td>KG</td><td>Central Asia</td>
		</tr>
	</table>
	<!--L-->
	<p class="LitterP"><a name="l">L</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr><tr class="GridViewRowStyle">
			<td>Laos</td><td>LA</td><td>East Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Latvia</td><td>LG</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Lebanon</td><td>LE</td><td>Middle East</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Lesotho</td><td>LT</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Liberia</td><td>LI</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Libya</td><td>LY</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Liechtenstein</td><td>LS</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Lithuania</td><td>LH</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Luxembourg</td><td>LU</td><td>Europe</td>
		</tr>
		</table>
</div>
        </div>
        <div style="float:right;">
        <div>
        <!--M-->
		<p class="LitterP"><a name="m">M</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle">
			<td>Macau</td><td>MC</td><td>East Asia</td>
		</tr><tr class="GridViewRowStyle">
			<td>Macedonia</td><td>MK</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Madagascar</td><td>MA</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Malawi</td><td>MI</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Malaysia</td><td>MY</td><td>East Asia</td>
		</tr><tr class="GridViewRowStyle">
			<td>Maldives</td><td>MV</td><td>South Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Mali</td><td>ML</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Malta</td><td>MT</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Marshall Islands</td><td>RM</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Mauritania</td><td>MR</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Mauritius</td><td>MP</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Mayotte</td><td>MF</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Mexico</td><td>MX</td><td>North America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Micronesia, Federated States of</td><td>FM</td><td>Oceania</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Midway Islands</td><td>MQ</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Moldova</td><td>MD</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Monaco</td><td>MN</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Mongolia</td><td>MG</td><td>East Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Montenegro</td><td>MJ</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Montserrat</td><td>MH</td><td>Central America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Morocco</td><td>MO</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Mozambique</td><td>MZ</td><td>Africa</td>
		</tr>
		</table>
		<!--N-->
		<p class="LitterP"><a name="n">N</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle">
			<td>Namibia</td><td>WA</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Nauru</td><td>NR</td><td>Oceania</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Navassa Island</td><td>BQ</td><td>Central America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Nepal</td><td>NP</td><td>South Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Netherlands</td><td>NL</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>New Caledonia</td><td>NC</td><td>Oceania</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>New Zealand</td><td>NZ</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Nicaragua</td><td>NU</td><td>Central America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Niger</td><td>NG</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Nigeria</td><td>NI</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Niue</td><td>NE</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>No Man's Land</td><td>NM</td><td>&nbsp;</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Norfolk Island</td><td>NF</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Northern Mariana Islands</td><td>CQ</td><td>Oceania</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Norway</td><td>NO</td><td>Europe</td>
		</tr>
		</table>
		<!--O-->
		<p class="LitterP"><a name="o">O</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewRowStyle">
			<td>Oceans</td><td>OS</td><td>&nbsp;</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Oman</td><td>MU</td><td>Middle East</td>
		</tr>
		</table>
		<!--P-->
		<p class="LitterP"><a name="p">P</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewRowStyle">
			<td>Pakistan</td><td>PK</td><td>South Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Palau</td><td>PS</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Palmyra Atoll</td><td>LQ</td><td>Oceania</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Panama</td><td>PM</td><td>Central America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Papua New Guinea</td><td>PP</td><td>East Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Paracel Islands</td><td>PF</td><td>East Asia</td>
		</tr><tr class="GridViewRowStyle">
			<td>Paraguay</td><td>PA</td><td>South America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Peru</td><td>PE</td><td>South America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Philippines</td><td>RP</td><td>East Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Pitcairn Islands</td><td>PC</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Poland</td><td>PL</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Portugal</td><td>PO</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Puerto Rico</td><td>RQ</td><td>Central America</td>
		</tr>
		</table>
		<!--Q-->
		<p class="LitterP"><a name="q">Q</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle">
			<td>Qatar</td><td>QA</td><td>Middle East</td>
		</tr>
		</table>
		<!--R-->
		<p class="LitterP"><a name="r">R</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewRowStyle">
			<td>Romania</td><td>RO</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Russia</td><td>RS</td><td>Central Asia</td>
		</tr><tr class="GridViewRowStyle">
			<td>Rwanda</td><td>RW</td><td>Africa</td>
		</tr>
		</table>
		<!--S-->
		<p class="LitterP"><a name="s">S</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle">
			<td>Saint Barthlemy</td><td>TB</td><td>Central America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Saint Helena, Ascension and Tristan da Cunha</td><td>SH</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Saint Kitts and Nevis</td><td>SC</td><td>Central America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Saint Lucia</td><td>ST</td><td>Central America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Saint Martin</td><td>RN</td><td>Central America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Saint Pierre and Miquelon</td><td>SB</td><td>North America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Saint Vincent and the Grenadines</td><td>VC</td><td>Central America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Samoa</td><td>WS</td><td>Oceania</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>San Marino</td><td>SM</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Sao Tome and Principe</td><td>TP</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Saudi Arabia</td><td>SA</td><td>Middle East</td>
		</tr><tr class="GridViewRowStyle">
			<td>Senegal</td><td>SG</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Serbia</td><td>RI</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Seychelles</td><td>SE</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Sierra Leone</td><td>SL</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Singapore</td><td>SN</td><td>East Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Sint Maarten</td><td>SK</td><td>Central America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Slovakia</td><td>LO</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Slovenia</td><td>SI</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Solomon Islands</td><td>BP</td><td>Oceania</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Somalia</td><td>SO</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>South Africa</td><td>SF</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>South Georgia and South Sandwich Islands</td><td>SX</td><td>South America</td>
		</tr><tr class="GridViewRowStyle">
			<td>South Sudan</td><td>OD</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Spain</td><td>SP</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Spratly Islands</td><td>PG</td><td>East Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Sri Lanka</td><td>CE</td><td>South Asia</td>
		</tr><tr class="GridViewRowStyle">
			<td>Sudan</td><td>SU</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Suriname</td><td>NS</td><td>South America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Svalbard</td><td>SV</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Swaziland</td><td>WZ</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Sweden</td><td>SW</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Switzerland</td><td>SZ</td><td>Europe</td>
		</tr><tr class="GridViewRowStyle">
			<td>Syria</td><td>SY</td><td>Middle East</td>
		</tr>
		</table>
		<!--T-->
		<p class="LitterP"><a name="t">T</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle">
			<td>Taiwan</td><td>TW</td><td>East Asia</td>
		</tr><tr class="GridViewRowStyle">
			<td>Tajikistan</td><td>TI</td><td>Central Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Tanzania</td><td>TZ</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Thailand</td><td>TH</td><td>East Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Timor-Leste</td><td>TT</td><td>East Asia</td>
		</tr><tr class="GridViewRowStyle">
			<td>Togo</td><td>TO</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Tokelau</td><td>TL</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Tonga</td><td>TN</td><td>Oceania</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Trinidad and Tobago</td><td>TD</td><td>Central America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Tunisia</td><td>TS</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Turkey</td><td>TU</td><td>Middle East</td>
		</tr><tr class="GridViewRowStyle">
			<td>Turkmenistan</td><td>TX</td><td>Central Asia</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Turks and Caicos Islands</td><td>TK</td><td>Central America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Tuvalu</td><td>TV</td><td>Oceania</td>
		</tr>
		</table>
		<!--U-->
		<p class="LitterP"><a name="u">U</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle">
			<td>Uganda</td><td>UG</td><td>Africa</td>
		</tr><tr class="GridViewRowStyle">
			<td>Ukraine</td><td>UP</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Undersea Features</td><td>UF</td><td>&nbsp;</td>
		</tr><tr class="GridViewRowStyle">
			<td>Undesignated Sovereignty</td><td>UU</td><td>&nbsp;</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>United Arab Emirates</td><td>AE</td><td>Middle East</td>
		</tr><tr class="GridViewRowStyle">
			<td>United Kingdom</td><td>UK</td><td>Europe</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>United States</td><td>US</td><td>North America</td>
		</tr><tr class="GridViewRowStyle">
			<td>United States Pacific Island Wildlife Refuges</td><td>UM</td><td>Oceania</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Uruguay</td><td>UY</td><td>South America</td>
		</tr><tr class="GridViewRowStyle">
			<td>Uzbekistan</td><td>UZ</td><td>Central Asia</td>
		</tr>
		</table>
		<!--V-->
		<p class="LitterP"><a name="v">V</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle">
			<td>Vanuatu</td><td>NH</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Venezuela</td><td>VE</td><td>South America</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Vietnam</td><td>VM</td><td>East Asia</td>
		</tr><tr class="GridViewRowStyle">
			<td>Virgin Islands</td><td>VQ</td><td>Central America</td>
		</tr>
		</table>
		<!--W-->
		<p class="LitterP"><a name="w">W</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle">
			<td>Wake Island</td><td>WQ</td><td>Oceania</td>
		</tr><tr class="GridViewRowStyle">
			<td>Wallis and Futuna</td><td>WF</td><td>Oceania</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>West Bank</td><td>WE</td><td>Middle East</td>
		</tr><tr class="GridViewRowStyle">
			<td>Western Sahara</td><td>WI</td><td>Africa</td>
		</tr>
		</table>
		<!--Y-->
		<p class="LitterP"><a name="y">Y</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewAlternatingRowStyle">
			<td>Yemen</td><td>YM</td><td>Middle East</td>
		</tr>
		</table>
		<!--Z-->
		<p class="LitterP"><a name="z">Z</a></p>
	<table cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" width="415px">
		<tr class="GridViewHeaderStyle">
			<th scope="col">国家名称</th><th scope="col">国际代码</th><th scope="col">所属地区</th>
		</tr>
		<tr class="GridViewRowStyle">
			<td>Zambia</td><td>ZA</td><td>Africa</td>
		</tr><tr class="GridViewAlternatingRowStyle">
			<td>Zimbabwe</td><td>ZI</td><td>Africa</td>
		</tr>
	</table>
</div>
        </div>
        <div class="clear"></div>
        </div>
    </div>
</body>
</html>
